header{
    border-bottom: 1px solid;
    border-color: blue;
}

a{
    padding: 10px;
}

.header-first-line{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.new-scientic{
    font-size: 29px;
}

.sign-in{
    border: 1px solid;
    border-radius: 20px;
    border-color: rgb(57, 57, 117);
}

.search-bar{
    border: 1px solid;
    border-radius: 20px;
    border-color: rgb(57, 57, 117);
}

.theme{
    border: 1px solid;
    border-radius: 20px;
    border-color: rgb(57, 57, 117);
}

.the-bar{
    border: 1px solid;
    border-radius: 20px;
    border-color: rgb(57, 57, 117);
}

.explore-section{
    display: flex;
    justify-content: space-between;
}

.explore-topic{
    display: flex;
    justify-content: space-between;
}

.subscribe-button{
    border: 1px solid;
    border-radius: 10px;
}

.three-header{
    display: flex;
    justify-content: space-between;
}

.plug-ins{
    display: flex;
    justify-content: space-between;
    width: 400px;
}